.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10 auto;
  gap: 20px;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
